<h1>Add a Board Brah!!</h1>

<%= form_tag "/boards", method: :post do %>

<div>
  Model: <input type="text" name="form_model">
</div>
<div>
  Length: <input type="text" name="form_length">
</div>
<div>
  Style: <input type="text" name="form_style">
</div>

<div> <input type="submit" name="Shred"></div>

<% end %>